/* ── importing font from google ── */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&family=Inter:wght@300;400;500&display=swap');

/* ── CSS variables ── */
:root {
    /* Main font color */
    --color-primary: #1F2A30;
    /* Anchor color */
    --color-accent: #3ECF8E;
    /* Secondary black color */
    --color-dark-teal: #0F1E23;
    /* Anchor hover */
    --color-mint: #8FD9B6;
    /* Backgroound main color */
    --color-bg: #F4F6F5;


    --font-heading: 'Rajdhani', sans-serif;
    --font-body: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg);
    color: var(--color-primary);
    font-family: var(--font-body);
    font-size: 16px;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-weight: 600;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}

a:hover {
    color: var(--color-mint);
}

p {
    font-family: var(--font-body);
    color: var(--color-primary);
}