body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* =========== Header =========== */

/* Header: Navbar*/
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content:space-between;
  /* align-items: center;  تحت الإختبار*/ 
  background-color: #0F1E23;
  color: white;
  padding: 15px 30px;
  z-index: 1000;

  
}
.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
}
.left-side{
  display: flex;
  align-items: center;
  gap: 100px;
}

/* Header: logo*/
.logo{
  vertical-align:middle;
}
.logo p1 {
  font-size: 30px;
  font-weight: bold;
  
}

.logo img {
  width: 60px;
  height: 60px;
}

/* Header: icons*/
.icons span {
  margin-left: 15px;
  cursor: pointer;
}


/* =========== Body =========== */
.content {
  background-color: #F4F6F5; /* GRAY */
  min-height: 80vh;
  padding: 30px;
}


/* FOOTER (GREEN) */
.footer {
  background-color: #0F1E23; /* GREEN */
  color: white;
  text-align: center;
  padding: 15px;
}