footer{
    background-color: var(--color-navbar);
    color: white;
    padding: 30px 20px;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: center;
}

.footer-content a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-content a:hover{
    text-decoration: underline;
}

.footer-content p{
    margin: 0;
    font-size: 18px;
}