.page-header {
    align-items: center;
    position: relative;
}

.page-header .navbar_logo {
    margin: 0 auto 0 0;
}

.page-header .back-button {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--color-font-light);
    font-size: 34px;
    text-decoration: none;
}
