.admin-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    gap: 20px;
}

.admin-chart {
    grid-column: span 2;
    height: 180px;
    cursor: default;
}


.admin-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    height: 120px;
    border-radius: 12px;
    text-decoration: none;

    background: var(--card-bg, #1e1e1e);
    color: var(--text-color, #fff);

    transition: 0.2s ease;
}

.admin-card img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}


.admin-card:hover {
    transform: scale(1.03);
    background: var(--card-hover, #2c2c2c);
}       