footer{
    background-color: var(--color-navbar);
    color: white;
    padding: 1.9rem 1.25rem;
    text-align: center;
}

.footer-content{
    text-align: center;
}

.footer-content a{
    display: inline-block;
    margin: 0 0.95rem;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.footer-content a:hover{
    text-decoration: underline;
}

.footer-content p{
    margin-top: 0.6rem;
    font-size: 1.1rem;
}