.navbar{
    background-color: var(--color-navbar);
    color: var(--color-font-light);
    padding: 0.95rem 1.9rem;
}

.navbar_left-side{
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

.navbar_right-side{
    display: inline-block;
    vertical-align: middle;
    width: 28%;
    text-align: right;
    font-size: 2rem;
}

.navbar_right-side img{
    cursor: pointer;
    margin-left: 1.9rem;
    vertical-align: middle;
}

.navbar_logo{
    display: inline-block;
    font-size: 2rem;
    vertical-align: middle;
    margin-right: 6.25rem;
}

.navbar_logo img{
    width: 3.75rem;
    height: 3.75rem;
    vertical-align: middle;
}

.navbar_logo p{
    display: inline-block;
    vertical-align: middle;
}

.navbar_menu{
    display: inline-block;
    vertical-align: middle;
}

.navbar_menu a{
    margin: 0 0.95rem;
    text-decoration: none;
    color: var(--color-font-light);
    font-size: 1.55rem;
}

.navbar_menu a:hover{
    text-decoration: underline;
}

#search{
    width: 2.2rem;
    height: 2.2rem;
    margin: 1.55rem;
}