<header class="navbar">
    <div class="navbar_left-side">
        <div class="navbar_logo">
            <img src="images/logo.png" class="logo" alt="ChipShip logo">
            <p id="storeName">ChipShip</p>
        </div>

        <nav class="navbar_menu">
            <a href="home.html">Home</a>
            <a href="home.html">PCs</a>
            <a href="home.html">Parts</a>
        </nav>
    </div>

    <div class="navbar_right-side">
        <img src="images/search.png" id="search" alt="Search">
        <img src="images/cart.png" id="cart" alt="Cart">

        <div class="profile-menu-wrapper">
            <img src="images/profile.png" id="profile" alt="Profile" role="button" tabindex="0" aria-haspopup="true"
                aria-expanded="false">

            <div class="profile-dropdown" id="profileDropdown"></div>
        </div>
    </div>
</header>